<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images//myntra-logo.png" type="image/png">
    <title>Zhub Shopping Trendy Outfits Of Celebrities</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans antialiased">
    <header class="bg-white shadow-md py-4">
        <div class="container mx-auto flex justify-between items-center px-4">
            <div class="flex items-center">
                <img src="../images/myntra-logo.png" alt="Logo Image" class="h-10 w-15 mr-8">
                <nav>
                    <ul class="flex space-x-6 font-bold">
                        <li><a onclick="location.href='shop'" class="text-gray-700 hover:text-gray-900">MEN</a></li>
                        <li><a onclick="location.href='shop'" class="text-gray-700 hover:text-gray-900">WOMEN</a></li>
                        <li><a onclick="location.href='shop'" class="text-gray-700 hover:text-gray-900">KIDS</a></li>
                        <li><a onclick="location.href='shop'" class="text-gray-700 hover:text-gray-900">HOME & LIVING</a></li>
                        <li><a onclick="location.href='shop'" class="text-gray-700 hover:text-gray-900">BEAUTY</a></li>
                        <li><a onclick="location.href='shop'" class="text-gray-700 hover:text-gray-900">STUDIO NEW</a></li>
                    </ul>
                </nav>
            </div>
            <div class="flex items-center">
                <input type="search" class="bg-gray-100 text-black rounded p-2 mr-2"
                    placeholder="Search for products, brands and more">
            </div>
            <ul class="flex space-x-4 mr-4">
                <li><a href="#" class="text-black-700 text-xs font-bold">Profile</a></li>
                <li><a href="#" class="text-black-700 text-xs font-bold">Wishlist</a></li>
                <li><a href="#" class="text-black-700 text-xs font-bold">Bag</a></li>
            </ul>
        </div>
        </div>
    </header>
    <div class="container mx-auto pr-4 py-6">
        <div class="px-4 py-2 text-sm">
            <p>Zhub/ India/ <span class="font-bold">Alia Bhatt</span></p>
        </div>
        <div class="flex">
            <aside class="w-1/4 pr-4">               
                <h2 class="text-lg font-semibold mb-4 px-4">Filters</h2>
                <div class="bg-white p-4 shadow-md border border-gray-200 min-h-screen">

                    <div class="mb-4 border-b border-gray-200 pb-4">
                        <div class="flex justify-between pr-4 items-center mb-2">
                            <div></div>
                            <span
                                class="inline-block w-4 h-4 bg-gray-200 rounded-full flex items-center justify-center text-gray-600 text-xs">🔍</span>
                        </div>
                        <ul class="font-bold">
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Men</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Women</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Boys</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Girls</a>
                            </li>
                        </ul>
                    </div>

                    <div class="mb-4 border-b border-gray-200 pb-4">
                        <div class="flex justify-between pr-4 items-center mb-2">
                            <h3 class="text-md font-semibold mr-2">Brand</h3>
                            <span
                                class="inline-block w-4 h-4 bg-gray-200 rounded-full flex items-center justify-center text-gray-600 text-xs">🔍</span>
                        </div>
                        <ul>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Kalini</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Anouk</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Sangria</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">+ 170 more</a>
                            </li>
                        </ul>
                    </div>

                    <div class="border-b border-gray-200 pb-4">
                        <div class="flex justify-between pr-4 items-center mb-2">
                            <h3 class="text-md font-semibold mr-2">Price</h3>
                            <span
                                class="inline-block w-4 h-4 bg-gray-200 rounded-full flex items-center justify-center text-gray-600 text-xs">🔍</span>
                        </div>
                        <ul>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Rs. 354 to Rs. 2066
                                    (332)</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Rs. 2066 to Rs. 3778
                                    (79)</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Rs. 3778 to Rs. 5490
                                    (11)</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Rs. 5490 to Rs. 7202 (1)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <main class="w-3/4">
                <div class="bg-white px-4 mb-2 flex justify-between items-center">
                    <div class="flex items-center space-x-4">
                        <button class="text-sm text-pink-500 hover:text-red-700">Clear All</button>
                        <div class="relative text-sm">
                            <select class="rounded-md py-2 px-3 hover:bg-gray-100">
                                <option>Brands</option>
                            </select>
                        </div>
                        <div class="relative text-sm">
                            <select class="hover:bg-gray-100 rounded-md py-2 px-3">
                                <option>Country of Origin</option>
                            </select>
                        </div>
                        <div class="relative text-sm">
                            <select class="hover:bg-gray-100 rounded-md py-2 px-3">
                                <option>Size</option>
                            </select>
                        </div>
                    </div>
                    <div class="relative">
                        <div class="hover:bg-gray-300 rounded-md py-2 px-3 border text-sm">
                            Sort by: <span class="font-bold text-xs text-black-700">Recommended</span>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-4 gap-4 border-t p-4">
                    <a
                        href="https://www.myntra.com/sarees/tikhiimli/tikhi-imli-embellished-sequinned-ready-to-wear-saree/24942378/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/pic-1.png" alt="Cloth Image" class="w-full h-70 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">Tikhi Imli</h3>
                            <p class="text-sm text-gray-500 mb-2">Embellished Sequinned Ready to Wear Saree</p>
                            <p class="text-gray-900 font-semibold">₹2494 <span
                                    class="line-through text-gray-500">₹4798</span> (48% OFF)</p>
                        </div>
                    </a>
                    <a
                        href="https://www.myntra.com/shrug/sera/sera-women-red--teal-floral-printed-tie-up-shrug/13997466/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/pic-2.png" alt="Cloth Image" class="w-full h-66 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">Sera</h3>
                            <p class="text-sm text-gray-500 mb-2">Women Red & Teal Floral Printed Tie-Up Shrug</p>
                            <p class="text-gray-900 font-semibold">₹478 <span
                                    class="line-through text-gray-500">₹1494</span> (68% OFF)</p>
                        </div>
                    </a>
                    <a
                        href="https://www.myntra.com/lehenga-choli/fabpixel/fabpixel-printed-semi-stitched-lehenga--unstitched-blouse-with-dupatta/22030152/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/pic-3.png" alt="Cloth Image" class="w-full h-70 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">Ragavi</h3>
                            <p class="text-sm text-gray-500 mb-2">Leheriya Printed Ready to Wear Lehenga & Blouse With
                                Dupatta</p>
                            <p class="text-gray-900 font-semibold">₹4049 <span class="line-through text-gray-500">₹4499
                                </span>(10% OFF)</p>
                        </div>
                    </a>
                    <a
                        href="https://www.myntra.com/dresses/sera/sera-red-v-neck-puff-sleeve-fit--flare-gathered-or-pleated-dress/24578102/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/pic-4.png" alt="Cloth Image" class="w-full h-70 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">Sera</h3>
                            <p class="text-sm text-gray-500 mb-2">Red V-Neck Puff Sleeve Fit & Flare Gathered or Pleated
                                Dress</p>
                            <p class="text-gray-900 font-semibold">₹569 <span class="line-through text-gray-500">₹1898
                                </span>(70% OFF)</p>
                        </div>
                    </a>
                </div>
                <div class="grid grid-cols-4 gap-4 p-4">
                    <a
                        href="https://www.myntra.com/sarees/tikhiimli/tikhi-imli-embellished-sequinned-ready-to-wear-saree/24942378/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/pic-1.png" alt="Cloth Image" class="w-full h-70 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">Tikhi Imli</h3>
                            <p class="text-sm text-gray-500 mb-2">Embellished Sequinned Ready to Wear Saree</p>
                            <p class="text-gray-900 font-semibold">₹2494 <span
                                    class="line-through text-gray-500">₹4798</span> (48% OFF)</p>
                        </div>
                    </a>
                    <a
                        href="https://www.myntra.com/shrug/sera/sera-women-red--teal-floral-printed-tie-up-shrug/13997466/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/pic-2.png" alt="Cloth Image" class="w-full h-66 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">Sera</h3>
                            <p class="text-sm text-gray-500 mb-2">Women Red & Teal Floral Printed Tie-Up Shrug</p>
                            <p class="text-gray-900 font-semibold">₹478 <span
                                    class="line-through text-gray-500">₹1494</span> (68% OFF)</p>
                        </div>
                    </a>
                    <a
                        href="https://www.myntra.com/lehenga-choli/fabpixel/fabpixel-printed-semi-stitched-lehenga--unstitched-blouse-with-dupatta/22030152/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/pic-3.png" alt="Cloth Image" class="w-full h-70 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">Ragavi</h3>
                            <p class="text-sm text-gray-500 mb-2">Leheriya Printed Ready to Wear Lehenga & Blouse With
                                Dupatta</p>
                            <p class="text-gray-900 font-semibold">₹4049 <span class="line-through text-gray-500">₹4499
                                </span>(10% OFF)</p>
                        </div>
                    </a>
                    <a
                        href="https://www.myntra.com/dresses/sera/sera-red-v-neck-puff-sleeve-fit--flare-gathered-or-pleated-dress/24578102/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/pic-4.png" alt="Cloth Image" class="w-full h-70 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">Sera</h3>
                            <p class="text-sm text-gray-500 mb-2">Red V-Neck Puff Sleeve Fit & Flare Gathered or Pleated
                                Dress</p>
                            <p class="text-gray-900 font-semibold">₹569 <span class="line-through text-gray-500">₹1898
                                </span>(70% OFF)</p>
                        </div>
                    </a>
                </div>
        </div>
    </div>
</body>
</body>

</html>