<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  
  <style>
    
    body {
      @apply h-screen flex flex-col justify-center bg-gray-100;
      
    }
  </style>
</head>
<body>
  
  <div class="container mx-auto p-4 pt-6 md:p-6 lg:p-12 flex flex-col  items-center mb-4">
	
		<img src="../images/logo.jpeg" alt="Myntra Logo" class="h-15 w-20 mr-2">
		
  </div>
  <div class="max-w-md mx-auto p-4 mt-4 bg-white rounded shadow-md ">
	
    <h2 class="text-2xl font-bold mb-4">Login</h2>
    <form id="login-form">
      <label class="block mb-2" for="email">Email</label>
      <input class="w-full p-4 pl-10 text-sm text-gray-700 border border-gray-300 rounded" type="email" id="email" placeholder="example@example.com">
      <label class="block mb-2" for="password">Password</label>
      <input class="w-full p-4 pl-10 text-sm text-gray-700 border border-gray-300 rounded" type="password" id="password" placeholder="●●●●●●●●">
      <div class="flex items-center mb-4">
        <input class="mr-2" type="checkbox" id="remember-me">
        <label class="text-sm text-gray-600" for="remember-me">Remember me</label>
      </div>
      <button class="bg-blue-500 hover:bg-orange-700 text-white font-bold py-1 px-4 rounded" type="submit" id="login-btn">Login</button>
    </form>
    <div id="login-response"></div>
    <p class="text-sm text-gray-600 mt-4">Don't have an account? <a class="text-orange-500 hover:text-orange-700 underline" onclick="location.href='register'">Sign up</a></p>
  </div>
  <script>
    const loginForm = document.getElementById('login-form');


// Get the login and signup buttons
const loginBtn = document.getElementById('login-btn');


// Get the response divs
const loginResponseDiv = document.getElementById('login-response');


// Login functionality
loginBtn.addEventListener('click', (e) => {
  e.preventDefault();
  const email = document.getElementById('email').value;
  const password = document.getElementById('password').value;

  // Make a POST request to the API
  fetch('http://127.0.0.1:5000/api/users/login', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ email, password })
  })
 .then(response => response.json())
 .then(data => {
    if (data.token) {
      loginResponseDiv.innerHTML = 'Login successful!';
      sessionStorage.setItem("token", data.token);
      // Navigate to the next page
      window.location.href = 'store';
    } else {
      loginResponseDiv.innerHTML = 'Login failed';
    }
  })
 .catch(error => {
    loginResponseDiv.innerHTML = 'Error: ' + error.message;
  });
});


  </script>
</body>
</html>