<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Z-Hub </title>
  <link rel="stylesheet" href="/stylesheets/register.css">
  <script src="nav.js"></script>
</head>
<body>
   
  
  
  <div class="dashboard">
  <div id="algn">
        <p class="head">Register</p>
        <form action="/" class="input-container">
            <input type="email" placeholder="Enter Email" class="inpt" required>
            <input type="password" placeholder="Enter Password" class="inpt" required>
            <input type="username" placeholder="Enter Username" class="inpt" required>
            <input type="fullname" placeholder="Enter Full Name" class="inpt" required>
             <button value="submit" class="btn">Submit</button>
        </form>
        <p class="footer">Already have account? <a href="/login">Login</a></p>
    </div>
    </div>
  </div>
</body>
</html>