<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images//myntra-logo.png" type="image/png">
    <title>Zhub Shopping Trendy Outfits Of Celebrities</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans antialiased">
    <header class="bg-white shadow-md py-4">
        <div class="container mx-auto flex justify-between items-center px-4">
            <div class="flex items-center">
                <img src="../images/logo.jpeg" alt="Logo Image" class="h-10 w-15 mr-8">
                <nav>
                    <ul class="flex space-x-6 font-bold">
                        <li><a href="#" class="text-gray-700 hover:text-gray-900">MEN</a></li>
                        <li><a href="#" class="text-gray-700 hover:text-gray-900">WOMEN</a></li>
                        <li><a href="#" class="text-gray-700 hover:text-gray-900">KIDS</a></li>
                        <li><a href="#" class="text-gray-700 hover:text-gray-900">HOME & LIVING</a></li>
                        <li><a href="#" class="text-gray-700 hover:text-gray-900">BEAUTY</a></li>
                        <li><a href="#" class="text-gray-700 hover:text-gray-900">STUDIO NEW</a></li>
                    </ul>
                </nav>
            </div>
            <div class="flex items-center">
                <input type="search" class="bg-gray-100 text-black rounded p-2 mr-2"
                    placeholder="Search for products, brands and more">
            </div>
            <ul class="flex space-x-4 mr-4">
                <li><a href="#" class="text-black-700 text-xs font-bold">Profile</a></li>
                <li><a href="#" class="text-black-700 text-xs font-bold">Wishlist</a></li>
                <li><a href="#" class="text-black-700 text-xs font-bold">Bag</a></li>
            </ul>
        </div>
        </div>
    </header>
    <div class=" mt-7 mb-5 flex justify-center items-center">
        <p class="text-2xl text-gray-800">Find your favourite <span class="font-bold">celebritries</span> style, all the fashion you need is here</p>
      </div>
    <div class="container w-screen mx-auto p-1 border-2">
        <div class="flex flex-wrap">
          <div class="w-3/4 h-screen/2 overflow-hidden">
            <img src="../images/bolly.png" alt="Image" class="h-screen/2 object-cover w-full">
          </div>
          <div class="w-1/4 pl-4 flex-wrap flex flex-col items-center justify-center">
            <p class="text-4xl">Embrace Bollywood's hottest fashion trends and step into the spotlight!</p>
            <div class="flex justify-center"> <button class=" bg-pink-700 transition opacity-80 hover:opacity-100 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded mt-10 shadow-xl" onclick="location.href='india'">Shop Now</button></div>
           
          </div>
        </div>
        
    </div>
    <div class="container w-screen mx-auto p-1 border-2 mt-14">
        <div class="flex flex-wrap">
          <div class="w-3/4 h-screen/2 overflow-hidden">
            <img src="../images/holly.jpeg" alt="Image" class="h-screen/2 object-cover w-full">
          </div>
          <div class="w-1/4 pl-4 flex-wrap flex flex-col items-center justify-center">
            <p class="text-4xl">Red Carpet Ready? Get your dose of Tinseltown glamour, where fashion meets fame and style meets stardom!</p>
            <div class="flex justify-center"> <button class=" bg-pink-700 transition opacity-80 hover:opacity-100 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded mt-10 shadow-xl" onclick="location.href='holly'">Shop Now</button></div>
           
          </div>
        </div>
        
    </div>
</body>
</html>