<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images//myntra-logo.png" type="image/png">
    <title>Zhub Shopping Trendy Outfits Of Celebrities</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans antialiased">
    <header class="bg-white shadow-md py-4">
        <div class="container mx-auto flex justify-between items-center px-4">
            <div class="flex items-center">
                <img src="../images/Myntra-Logo-2015.png" alt="Logo Image" class="h-10 w-15 mr-8">
                <nav>
                    <ul class="flex space-x-6 font-bold">
                        <li><a href="#" class="text-gray-700 hover:text-gray-900">MEN</a></li>
                        <li><a href="#" class="text-gray-700 hover:text-gray-900">WOMEN</a></li>
                        <li><a href="#" class="text-gray-700 hover:text-gray-900">KIDS</a></li>
                        <li><a href="#" class="text-gray-700 hover:text-gray-900">HOME & LIVING</a></li>
                        <li><a href="#" class="text-gray-700 hover:text-gray-900">BEAUTY</a></li>
                        <li><a href="#" class="text-gray-700 hover:text-gray-900">STUDIO NEW</a></li>
                    </ul>
                </nav>
            </div>
            <div class="flex items-center">
                <input type="search" class="bg-gray-100 text-black rounded p-2 mr-2"
                    placeholder="Search for products, brands and more">
            </div>
            <ul class="flex space-x-4 mr-4">
                <li><a href="#" class="text-black-700 text-xs font-bold">Profile</a></li>
                <li><a href="#" class="text-black-700 text-xs font-bold">Wishlist</a></li>
                <li><a href="#" class="text-black-700 text-xs font-bold">Bag</a></li>
            </ul>
        </div>
        </div>
    </header>
    <div class="container mx-auto pr-4 py-6">
        <div class="px-4 py-2 text-sm">
            <p>Zhub/ Hollywood/ <span class="font-bold">Taylor Swift</span></p>
        </div>
        <div class="flex">
            <aside class="w-1/4 pr-4">               
                <h2 class="text-lg font-semibold mb-4 px-4">Filters</h2>
                <div class="bg-white p-4 shadow-md border border-gray-200 min-h-screen">

                    <div class="mb-4 border-b border-gray-200 pb-4">
                        <div class="flex justify-between pr-4 items-center mb-2">
                            <div></div>
                            <span
                                class="inline-block w-4 h-4 bg-gray-200 rounded-full flex items-center justify-center text-gray-600 text-xs">🔍</span>
                        </div>
                        <ul class="font-bold">
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Men</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Women</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Boys</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Girls</a>
                            </li>
                        </ul>
                    </div>

                    <div class="mb-4 border-b border-gray-200 pb-4">
                        <div class="flex justify-between pr-4 items-center mb-2">
                            <h3 class="text-md font-semibold mr-2">Brand</h3>
                            <span
                                class="inline-block w-4 h-4 bg-gray-200 rounded-full flex items-center justify-center text-gray-600 text-xs">🔍</span>
                        </div>
                        <ul>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">H&M</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Forever 21</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">LULU & SKY</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">TRENDYOL</a>
                                <li class="flex items-center mb-1">
                                    <input type="checkbox" class="mr-2">
                                    <a href="#" class="block text-gray-700 hover:text-gray-900">+150 more</a>
                                </li>
                            </li>
                        </ul>
                    </div>

                    <div class="border-b border-gray-200 pb-4">
                        <div class="flex justify-between pr-4 items-center mb-2">
                            <h3 class="text-md font-semibold mr-2">Price</h3>
                            <span
                                class="inline-block w-4 h-4 bg-gray-200 rounded-full flex items-center justify-center text-gray-600 text-xs">🔍</span>
                        </div>
                        <ul>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Rs. 200 to Rs. 1050
                                    (800)</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Rs. 1050 to Rs. 3000
                                    (150)</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Rs. 3000 and 5050
                                    (90)</a>
                            </li>
                            <li class="flex items-center mb-1">
                                <input type="checkbox" class="mr-2">
                                <a href="#" class="block text-gray-700 hover:text-gray-900">Rs. 5050 and above (8)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <main class="w-3/4">
                <div class="bg-white px-4 mb-2 flex justify-between items-center">
                    <div class="flex items-center space-x-4">
                        <button class="text-sm text-pink-500 hover:text-red-700">Clear All</button>
                        <div class="relative text-sm">
                            <select class="rounded-md py-2 px-3 hover:bg-gray-100">
                                <option>Brands</option>
                            </select>
                        </div>
                        <div class="relative text-sm">
                            <select class="hover:bg-gray-100 rounded-md py-2 px-3">
                                <option>Country of Origin</option>
                            </select>
                        </div>
                        <div class="relative text-sm">
                            <select class="hover:bg-gray-100 rounded-md py-2 px-3">
                                <option>Size</option>
                            </select>
                        </div>
                    </div>
                    <div class="relative">
                        <div class="hover:bg-gray-300 rounded-md py-2 px-3 border text-sm">
                            Sort by: <span class="font-bold text-xs text-black-700">Popularity</span>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-4 gap-4 border-t p-4">
                    <a
                    href="https://www.myntra.com/dress/h&m/h&m-sequined-slip-dress/25451208/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/dress.png" alt="Cloth Image" class="w-full h-70 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">H&M</h3>
                            <p class="text-sm text-gray-500 mb-2"> Sequinned Slip Dress</p>
                            <p class="text-gray-900 font-semibold">₹3999<span
                                    class="line-through text-gray-500">₹5920</span> (48% OFF)</p>
                        </div>
                    </a>
                    <a
                        href="https://www.myntra.com/jewellery/sohi/sohi-gold-plated-snake-design-ring/17984398/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/ring 2.jpg" alt="Cloth Image" class="w-full h-66 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">sohi</h3>
                            <p class="text-sm text-gray-500 mb-2">Taylor Reputation Snake Ring</p>
                            <p class="text-gray-900 font-semibold">₹298 <span
                                    class="line-through text-gray-500">₹1094</span> (26% OFF)</p>
                        </div>
                    </a>
                    <a
                        href="https://www.myntra.com/dress/trendyol/trendyol-embellished-bodycon-mini-dress/27677452/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/PINK DRESS.png" alt="Cloth Image" class="w-full h-70 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">TRENDYOL</h3>
                            <p class="text-sm text-gray-500 mb-2">Embellished Bodycon Mini Dress</p>
                            <p class="text-gray-900 font-semibold">₹4276 <span class="line-through text-gray-500">₹4699
                                </span>(9% OFF)</p>
                        </div>
                    </a>
                    <a
                        href="https://www.myntra.com/shoes/london-rag/london-rag-women-heeled-high-top-regular-boots/21427888/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/Taylor-Red-Velvet-Boots.webp" alt="Red boots" class="w-full h-66 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">London Rag</h3>
                            <p class="text-sm text-gray-500 mb-2">Red High top boots</p>
                            <p class="text-gray-900 font-semibold">₹3914 <span class="line-through text-gray-500">₹8699
                                </span>(55% OFF)</p>
                        </div>
                    </a>
                </div>
                <div class="grid grid-cols-4 gap-4 p-4">
                    <a
                    href="https://www.myntra.com/trousers/tandul/tandul-women-smart-trousers/29876555/buy">
                    <div class="bg-white p-4 shadow-md rounded-md">
                        <img src="../images/Screenshot (14).png" alt="Cloth Image" class="w-full h-70 object-cover mb-4">
                        <h3 class="text-gray-700 mb-2">sohi</h3>
                        <p class="text-sm text-gray-500 mb-2">Brown leather pants</p>
                        <p class="text-gray-900 font-semibold">₹799 <span
                                class="line-through text-gray-500">₹1199</span> (Rs.300 OFF)</p>
                        </div>
                    </a>
                    <a
                        href="https://www.myntra.com/topwear/lulu-&-sky/lulu-&-sky-embellished-shoulder-straps-sequinned-bodysuit/29184056/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/Screenshot (10).png" alt="Cloth Image" class="w-full h-30 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">LULU & SKY</h3>
                            <p class="text-sm text-gray-500 mb-2">Swifty black bodysuit</p>
                            <p class="text-gray-900 font-semibold">₹1476 <span
                                    class="line-through text-gray-500">₹3990</span> (63% OFF)</p>
                        </div>
                    </a>
                    <a
                        href="https://www.myntra.com/lipstick/m.a.c/mac-macximal-matte-lipstick---ruby-woo/26367390/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/Screenshot (13).png" alt="Cloth Image" class="w-full h-70 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">MAC</h3>
                            <p class="text-sm text-gray-500 mb-2">Bold Red lipstick</p>
                            <p class="text-gray-900 font-semibold">₹2040<span class="line-through text-gray-500">₹2550
                                </span>(20% OFF)</p>
                        </div>
                    </a>
                    <a
                        href="https://www.myntra.com/tops/lulu+%26+sky/lulu--sky-embellished-sequin-strapless-corset-crop-top/27508142/buy">
                        <div class="bg-white p-4 shadow-md rounded-md">
                            <img src="../images/CORSET.png" alt="Cloth Image" class="w-full h-66 object-cover mb-4">
                            <h3 class="text-gray-700 mb-2">LULU &SKY</h3>
                            <p class="text-sm text-gray-500 mb-2">Sequin strapless corset top</p>
                            <p class="text-gray-900 font-semibold">₹1281 <span class="line-through text-gray-500">₹3051
                                </span>(58% OFF)</p>
                        </div>
                    </a>
                </div>
        </div>
    </div>
</body>
</body>

</html>