@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(/images/bg3.svg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: black;
}

#algn{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 


#container{
    border: 3px solid black;
    border-radius: 10px;
    width: 320px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(5px);
}

#container .head{
    font-weight: 700;
    font-size: larger;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 265px;
}

.input-container .inpt{
    padding: 10px;
    margin: 5px 10px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: transparent;
    color: black;
}

::placeholder {
    font-weight: 600;
    color: black;
    opacity: 1;
}

.rem-forgot{
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    font-size: 11px;
    font-weight: 400;
    margin: 8px;
}

.rem{
    display: flex;
    align-items: center;
}

.rem-forgot span a{
    text-decoration: none;
    color: black;
}

.rem-forgot span a:hover{
    color: black;
}

.input-container .btn{
    margin: 0 12px;
    padding: 10px 0;
    border: none;
    border-radius: 25px;
    font-weight: 700;
}

.input-container .btn:hover{
    background-color: black;
    color: black;
}

#container .footer{
    font-size: 11px;
    font-weight: 400;
}

#container .footer a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin: 0 5px;
}

#container .footer a:hover{
    color: black;
}